In [1]:
import pandas as pd
import random

In [2]:
d1 = open('./dia1.csv','r')
dia1 = pd.read_csv(d1)
d2 = open('./dia2.csv','r')
dia2 = pd.read_csv(d2)
d3 = open('./dia3.csv','r')
dia3 = pd.read_csv(d3)
d4 = open('./dia4.csv','r')
dia4 = pd.read_csv(d4)

In [3]:
dia1.drop('Análisis', axis=1, inplace=True)
dia2.drop('Análisis', axis=1, inplace=True)
dia3.drop('Análisis', axis=1, inplace=True)
dia4.drop('Análisis', axis=1, inplace=True)

dia1.drop('T° Ambiental (°C)', axis=1, inplace=True)
dia2.drop('T° Ambiental (°C)', axis=1, inplace=True)
dia3.drop('T° Ambiental (°C)', axis=1, inplace=True)
dia4.drop('T° Ambiental (°C)', axis=1, inplace=True)

dia1.drop('Humedad Suelo (%)', axis=1, inplace=True)
dia2.drop('Humedad Suelo (%)', axis=1, inplace=True)
dia3.drop('Humedad Suelo (%)', axis=1, inplace=True)
dia4.drop('Humedad Suelo (%)', axis=1, inplace=True)

In [4]:
dia1.replace(
    {'Tipo de Suelo': {
        "Arcillosos": int(0), 
        "Arenoso":int(1) ,
        "Calizos":int(2),
        "Humíferos": int(3), 
        "Mixto":int(4) ,
        "Pedregosos":int(5)
    }
    },  inplace = True)
dia2.replace(
    {'Tipo de Suelo': {
        "Arcillosos": int(0), 
        "Arenoso":int(1) ,
        "Calizos":int(2),
        "Humíferos": int(3), 
        "Mixto":int(4) ,
        "Pedregosos":int(5)
    }
    },  inplace = True)
dia3.replace(
    {'Tipo de Suelo': {
        "Arcillosos": int(0), 
        "Arenoso":int(1) ,
        "Calizos":int(2),
        "Humíferos": int(3), 
        "Mixto":int(4) ,
        "Pedregosos":int(5)
    }
    },  inplace = True)
dia4.replace(
    {'Tipo de Suelo': {
        "Arcillosos": int(0), 
        "Arenoso":int(1) ,
        "Calizos":int(2),
        "Humíferos": int(3), 
        "Mixto":int(4) ,
        "Pedregosos":int(5)
    }
    },  inplace = True)

In [5]:
dia1.head()

,T° Ambiental (°C) BRUTO,Velocidad del viento (KM/H),Valor de tipo de suelo,Tipo de Suelo,PH Agua,PH Suelo,Humedad Suelo Deseada (%),T° Suelo (°C),T° Suelo Deseada (°C),Análisis valor
0,39,62,"4,5",5,14,3,45,15,15,0
1,16,62,5,4,9,8,50,7,23,1
2,24,18,3,1,13,10,30,8,17,0
3,2,17,7,3,9,5,70,16,15,0
4,19,30,7,3,2,9,70,13,15,1

In [6]:
dia2.head()

,T° Ambiental (°C) BRUTO,Velocidad del viento (KM/H),Valor de tipo de suelo,Tipo de Suelo,PH Agua,PH Suelo,Humedad Suelo Deseada (%),T° Suelo (°C),T° Suelo Deseada (°C),Análisis valor
0,28,40,7,3,12,10,70,19,70,0
1,12,34,"4,1",2,12,7,41,14,20,1
2,12,83,5,4,2,6,50,6,23,1
3,21,5,7,3,14,2,70,14,15,1
4,19,59,7,3,4,13,70,7,15,1

In [7]:
dia3.head()

,T° Ambiental (°C) BRUTO,Velocidad del viento (KM/H),Valor de tipo de suelo,Tipo de Suelo,PH Agua,PH Suelo,Humedad Suelo Deseada (%),T° Suelo (°C),T° Suelo Deseada (°C),Análisis valor
0,16,3,"4,1",2,6,0,41,4,"20,5",1
1,19,62,"2,5",0,1,14,25,18,27,1
2,15,34,5,4,7,3,50,5,23,1
3,35,48,5,4,13,0,50,17,23,1
4,-2,54,5,4,13,5,50,16,23,1

In [8]:
dia4.head()

,T° Ambiental (°C) BRUTO,Velocidad del viento (KM/H),Valor de tipo de suelo,Tipo de Suelo,PH Agua,PH Suelo,Humedad Suelo Deseada (%),T° Suelo (°C),T° Suelo Deseada (°C),Análisis valor
0,19,84,3,1,2,9,30,25,6,0
1,13,24,3,1,9,7,30,9,17,1
2,12,81,5,4,1,11,50,3,23,1
3,8,57,3,1,13,3,30,5,17,1
4,12,26,"4,5",5,12,1,45,1,25,1

In [9]:
modelo1 = [19,15,3,2,7,7,30,15,9] #Objetivo a alcanzar 

largo = 9 #La longitud del material genetico de cada individuo

num1 = dia1[dia1['Análisis valor']==1]['Análisis valor'].count() #La cantidad de individuos que habra en la poblacion dia 1
num2 = dia2[dia2['Análisis valor']==1]['Análisis valor'].count() #La cantidad de individuos que habra en la poblacion dia 1
num3 = dia3[dia3['Análisis valor']==1]['Análisis valor'].count() #La cantidad de individuos que habra en la poblacion dia 1
num4 = dia4[dia4['Análisis valor']==1]['Análisis valor'].count() #La cantidad de individuos que habra en la poblacion dia 1

pressure = 3 #Cuantos individuos se seleccionan para reproduccion. Necesariamente mayor que 2
mutation_chance = 0.3 #La probabilidad de que un individuo mute
evolucion=10

In [10]:
def individual(min, max):
    """
        Crea un individual
    """
    return[random.randint(min, max) for i in range(largo)]

In [11]:
  
def crearPoblacion(num1):
    """
        Crea una poblacion nueva de individuos
    """
    return [individual(-2,40) for i in range(num1)]

In [12]:
def calcularFitness(individual):
    """
        Calcula el fitness de un individuo concreto.
    """
    fitness = 0
    for i in range(len(individual)):
        if individual[i] == modelo1[i]:
            fitness += 1
  
    return fitness

In [13]:
def selection_and_reproduction(population,population2=" "):
    """
        Puntua todos los elementos de la poblacion (population) y se queda con los mejores
        guardandolos dentro de 'selected'.
        Despues mezcla el material genetico de los elegidos para crear nuevos individuos y
        llenar la poblacion (guardando tambien una copia de los individuos seleccionados sin
        modificar).
  
        Por ultimo muta a los individuos.
  
    """
    puntuados = [ (calcularFitness(i), i) for i in population] #Calcula el fitness de cada individuo, y lo guarda en pares ordenados de la forma (5 , [1,2,1,1,4,1,8,9,4,1])
    puntuados = [i[1] for i in sorted(puntuados)] #Ordena los pares ordenados y se queda solo con el array de valores
    population = puntuados
  
  
  
    selected =  puntuados[(len(puntuados)-pressure):] #Esta linea selecciona los 'n' individuos del final, donde n viene dado por 'pressure'
  
  
  
    #Se mezcla el material genetico para crear nuevos individuos
    for i in range(len(population)-pressure):
        punto = random.randint(1,largo-1) #Se elige un punto para hacer el intercambio
        padre = random.sample(selected, 2) #Se eligen dos padres
          
        population[i][:punto] = padre[0][:punto] #Se mezcla el material genetico de los padres en cada nuevo individuo
        population[i][punto:] = padre[1][punto:]
  
    return population #El array 'population' tiene ahora una nueva poblacion de individuos, que se devuelven

In [14]:
def mutation(population):
    """
        Se mutan los individuos al azar. Sin la mutacion de nuevos genes nunca podria
        alcanzarse la solucion.
    """
    for i in range(len(population)-pressure):
        if random.random() <= mutation_chance: #Cada individuo de la poblacion (menos los padres) tienen una probabilidad de mutar
            punto = random.randint(0,largo-1) #Se elgie un punto al azar
            nuevo_valor = random.randint(1,9) #y un nuevo valor para este punto
  
            #Es importante mirar que el nuevo valor no sea igual al viejo
            while nuevo_valor == population[i][punto]:
                nuevo_valor = random.randint(1,9)
  
            #Se aplica la mutacion
            population[i][punto] = nuevo_valor
  
    return population

<H1>Dia 1</H1>

In [15]:
population= dia1[dia1['Análisis valor']==1]
key=population.keys()
temporal=[]
final=[]
final2=[]
for i in key:
    final.append(population[i].tolist())


for w in range(0,len(final[0])):
    temporal=[]
    for y in range(0,9):    
        temporal.append(final[y][w])
    final2.append(temporal)
temp=1
for xz in final2:
    print("muestra ",temp," valor",xz)
    temp=temp+1
#print("Poblacion Inicial:\n%s"%(final2)) #Se muestra la poblacion inicial

muestra  1  valor [16, 62, '5', 4, 9, 8, 50, 7, 23]
muestra  2  valor [19, 30, '7', 3, 2, 9, 70, 13, 15]
muestra  3  valor [33, 71, '2,5', 0, 2, 4, 25, 5, 27]
muestra  4  valor [22, 75, '2,5', 0, 2, 8, 25, 25, 27]
muestra  5  valor [37, 70, '2,5', 0, 10, 4, 25, 14, 27]
muestra  6  valor [26, 4, '4,1', 2, 12, 8, 41, 0, 20]
muestra  7  valor [11, 78, '7', 3, 7, 1, 70, 8, 15]
muestra  8  valor [4, 45, '3', 1, 1, 10, 30, 10, 17]
muestra  9  valor [28, 75, '4,5', 5, 5, 12, 45, 11, 25]
muestra  10  valor [26, 33, '7', 3, 3, 11, 70, 10, 15]
muestra  11  valor [30, 27, '2,5', 0, 10, 2, 25, 9, 27]
muestra  12  valor [-1, 21, '7', 3, 2, 11, 70, 12, 15]
muestra  13  valor [40, 78, '7', 3, 13, 3, 70, 8, 15]
muestra  14  valor [0, 20, '2,5', 0, 6, 2, 25, 7, 27]
muestra  15  valor [4, 7, '4,5', 5, 6, 11, 45, 15, 25]
muestra  16  valor [19, 57, '2,5', 0, 3, 1, 25, 13, 27]
muestra  17  valor [11, 65, '4,5', 5, 11, 9, 45, 14, 25]
muestra  18  valor [0, 71, '3', 1, 2, 0, 30, 2, 17]
muestra  19  valor [8, 23, '7', 3, 5, 13, 70, 5, 15]
muestra  20  valor [33, 17, '4,5', 5, 8, 2, 45, 23, 25]
muestra  21  valor [12, 16, '4,1', 2, 1, 11, 41, 4, 20]
muestra  22  valor [2, 64, '4,1', 2, 13, 2, 41, 2, 20]
muestra  23  valor [31, 48, '3', 1, 7, 3, 30, 15, 17]
muestra  24  valor [1, 84, '5', 4, 7, 8, 50, 22, 23]
muestra  25  valor [26, 5, '4,1', 2, 3, 11, 41, 3, 20]
muestra  26  valor [40, 46, '4,1', 2, 9, 9, 41, 18, 20]
muestra  27  valor [14, 37, '4,5', 5, 5, 13, 45, 10, 25]
muestra  28  valor [37, 10, '4,1', 2, 0, 5, 41, 2, 20]
muestra  29  valor [33, 27, '4,1', 2, 13, 7, 41, 5, 20]
muestra  30  valor [3, 6, '3', 1, 1, 7, 30, 4, 17]
muestra  31  valor [36, 1, '2,5', 0, 2, 5, 25, 0, 27]
muestra  32  valor [22, 0, '4,5', 5, 6, 13, 45, 23, 25]
muestra  33  valor [25, 69, '5', 4, 2, 0, 50, 14, 23]
muestra  34  valor [-1, 29, '4,5', 5, 11, 9, 45, 22, 25]

In [16]:
print("numeros de riegos en el dia 1 ",num1)
print("Datos ideal para dia 1",modelo1)

numeros de riegos en el dia 1  34
Datos ideal para dia 1 [19, 15, 3, 2, 7, 7, 30, 15, 9]

In [17]:
population_1 = crearPoblacion(num1)
#Se evoluciona la poblacion
for i in range(evolucion):
    population_1 = selection_and_reproduction(population_1)
    population_1 = mutation(population_1) 
temp=1
for xz in population_1:
    print("muestra ",temp," valor",xz)
    temp=temp+1
#print("\nPoblacion Final:\n%s"%(population_1)) #Se muestra la poblacion evolucionada

muestra  1  valor [3, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  2  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  3  valor [19, 12, 3, 9, 7, 39, 40, 29, 9]
muestra  4  valor [19, 12, 3, 2, 7, 8, 40, 29, 9]
muestra  5  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  6  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  7  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  8  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  9  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  10  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  11  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  12  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  13  valor [19, 12, 3, 2, 7, 39, 40, 29, 3]
muestra  14  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  15  valor [19, 12, 2, 2, 7, 39, 40, 29, 9]
muestra  16  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  17  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  18  valor [19, 12, 3, 2, 7, 39, 2, 29, 9]
muestra  19  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  20  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  21  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  22  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  23  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  24  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  25  valor [19, 12, 3, 2, 7, 39, 7, 29, 9]
muestra  26  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  27  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  28  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  29  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  30  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  31  valor [19, 12, 3, 2, 7, 2, 40, 29, 9]
muestra  32  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  33  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]
muestra  34  valor [19, 12, 3, 2, 7, 39, 40, 29, 9]

<H1>Dia 2</H1>

In [18]:
population= dia2[dia2['Análisis valor']==1]
key=population.keys()
temporal=[]
final=[]
final2=[]
for i in key:
    final.append(population[i].tolist())


for w in range(0,len(final[0])):
    temporal=[]
    for y in range(0,9):    
        temporal.append(final[y][w])
    final2.append(temporal)
temp=1
for xz in final2:
    print("muestra ",temp," valor",xz)
    temp=temp+1
#print("Poblacion Inicial:\n%s"%(final2)) #Se muestra la poblacion inicial

muestra  1  valor [12, 34, '4,1', 2, 12, 7, 41, 14, 20]
muestra  2  valor [12, 83, '5', 4, 2, 6, 50, 6, 23]
muestra  3  valor [21, 5, '7', 3, 14, 2, 70, 14, 15]
muestra  4  valor [19, 59, '7', 3, 4, 13, 70, 7, 15]
muestra  5  valor [13, 31, '3', 1, 6, 3, 30, 14, 17]
muestra  6  valor [4, 49, '2,5', 0, 14, 6, 25, 0, 27]
muestra  7  valor [12, 33, '2,5', 0, 0, 7, 25, 20, 27]
muestra  8  valor [9, 31, '2,5', 0, 2, 3, 25, 2, 27]
muestra  9  valor [38, 31, '4,5', 5, 5, 13, 45, 1, 25]
muestra  10  valor [1, 2, '7', 3, 10, 1, 70, 7, 15]
muestra  11  valor [13, 9, '4,5', 5, 3, 7, 45, 7, 25]
muestra  12  valor [10, 88, '5', 4, 9, 0, 50, 20, 23]
muestra  13  valor [-1, 45, '4,5', 5, 6, 6, 45, 20, 25]
muestra  14  valor [3, 39, '7', 3, 2, 5, 70, 12, 15]
muestra  15  valor [7, 74, '2,5', 0, 7, 8, 25, 21, 27]
muestra  16  valor [37, 57, '4,5', 5, 6, 12, 45, 9, 25]
muestra  17  valor [0, 68, '4,1', 2, 13, 5, 41, 3, 20]
muestra  18  valor [27, 48, '5', 4, 5, 11, 50, 2, 23]
muestra  19  valor [40, 18, '4,5', 5, 4, 1, 45, 6, 25]
muestra  20  valor [18, 2, '4,5', 5, 9, 8, 45, 1, 25]
muestra  21  valor [30, 80, '3', 1, 1, 4, 30, 9, 17]
muestra  22  valor [18, 27, '5', 4, 10, 2, 50, 10, 23]
muestra  23  valor [0, 72, '4,5', 5, 3, 9, 45, 16, 25]
muestra  24  valor [15, 79, '4,1', 2, 4, 11, 41, 17, 20]
muestra  25  valor [10, 80, '4,1', 2, 4, 7, 41, 14, 20]
muestra  26  valor [25, 86, '3', 1, 5, 2, 30, 10, 17]
muestra  27  valor [33, 45, '4,5', 5, 6, 11, 45, 2, 25]
muestra  28  valor [30, 13, '2,5', 0, 10, 8, 25, 15, 27]
muestra  29  valor [15, 65, '4,1', 2, 3, 7, 41, 12, 20]
muestra  30  valor [8, 74, '3', 1, 0, 7, 30, 7, 17]
muestra  31  valor [30, 65, '2,5', 0, 8, 1, 25, 25, 27]

In [19]:
print("numeros de riegos en el dia 2 ",num2)
print("Datos ideal para dia 2",modelo1)

numeros de riegos en el dia 2  31
Datos ideal para dia 2 [19, 15, 3, 2, 7, 7, 30, 15, 9]

In [20]:
population_2 = crearPoblacion(num2)
#Se evoluciona la poblacion
for i in range(evolucion):
    population_2 = selection_and_reproduction(population_2)
    population_2 = mutation(population_2)
    
temp=1
for xz in population_2:
    print("muestra ",temp," valor",xz)
    temp=temp+1
#print("\nPoblacion Final:\n%s"%(population_2)) #Se muestra la poblacion evolucionada

muestra  1  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  2  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  3  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  4  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  5  valor [25, 15, 3, 14, 16, 30, 30, 39, 6]
muestra  6  valor [25, 15, 3, 14, 16, 8, 30, 39, 9]
muestra  7  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  8  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  9  valor [25, 15, 3, 14, 8, 30, 30, 39, 9]
muestra  10  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  11  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  12  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  13  valor [25, 15, 3, 14, 16, 5, 30, 39, 9]
muestra  14  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  15  valor [7, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  16  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  17  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  18  valor [25, 15, 3, 14, 16, 30, 9, 39, 9]
muestra  19  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  20  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  21  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  22  valor [4, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  23  valor [25, 15, 3, 14, 16, 5, 30, 39, 9]
muestra  24  valor [25, 15, 3, 14, 16, 30, 30, 1, 9]
muestra  25  valor [25, 15, 3, 14, 16, 7, 30, 39, 9]
muestra  26  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  27  valor [9, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  28  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  29  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  30  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]
muestra  31  valor [25, 15, 3, 14, 16, 30, 30, 39, 9]

<H1>Dia 3</H1>

In [21]:
population= dia3[dia3['Análisis valor']==1]
key=population.keys()
temporal=[]
final=[]
final2=[]
for i in key:
    final.append(population[i].tolist())


for w in range(0,len(final[0])):
    temporal=[]
    for y in range(0,9):    
        temporal.append(final[y][w])
    final2.append(temporal)
    
temp=1
for xz in final2:
    print("muestra ",temp," valor",xz)
    temp=temp+1
#print("Poblacion Inicial:\n%s"%(final2)) #Se muestra la poblacion inicial

muestra  1  valor [16, 3, '4,1', 2, 6, 0, 41, 4, '20,5']
muestra  2  valor [19, 62, '2,5', 0, 1, 14, 25, 18, '27']
muestra  3  valor [15, 34, '5', 4, 7, 3, 50, 5, '23']
muestra  4  valor [35, 48, '5', 4, 13, 0, 50, 17, '23']
muestra  5  valor [-2, 54, '5', 4, 13, 5, 50, 16, '23']
muestra  6  valor [10, 74, '2,5', 0, 0, 1, 25, 18, '27']
muestra  7  valor [7, 48, '7', 3, 10, 0, 70, 0, '15']
muestra  8  valor [31, 44, '5', 4, 3, 1, 50, 5, '23']
muestra  9  valor [33, 86, '7', 3, 10, 1, 70, 7, '15']
muestra  10  valor [3, 23, '5', 4, 11, 8, 50, 19, '23']
muestra  11  valor [24, 62, '5', 4, 7, 4, 50, 7, '23']
muestra  12  valor [4, 26, '3', 1, 9, 6, 30, 5, '17']
muestra  13  valor [24, 56, '3', 1, 9, 4, 30, 16, '17']
muestra  14  valor [15, 9, '4,1', 2, 6, 13, 41, 11, '20']
muestra  15  valor [18, 79, '4,5', 5, 6, 3, 45, 11, '25']
muestra  16  valor [19, 37, '5', 4, 7, 2, 50, 15, '23']
muestra  17  valor [14, 77, '4,1', 2, 8, 8, 41, 3, '20']
muestra  18  valor [39, 41, '4,5', 5, 6, 2, 45, 12, '25']
muestra  19  valor [26, 7, '4,1', 2, 9, 2, 41, 0, '20']
muestra  20  valor [17, 16, '4,5', 5, 3, 7, 45, 6, '25']
muestra  21  valor [-2, 20, '4,1', 2, 6, 4, 41, 6, '20']
muestra  22  valor [-1, 62, '3', 1, 5, 3, 30, 16, '17']
muestra  23  valor [12, 25, '4,1', 2, 4, 7, 41, 9, '20']
muestra  24  valor [33, 76, '4,5', 5, 3, 0, 45, 7, '25']
muestra  25  valor [32, 83, '4,5', 5, 7, 4, 45, 20, '25']
muestra  26  valor [19, 50, '4,1', 2, 4, 1, 41, 19, '20']
muestra  27  valor [35, 74, '4,5', 5, 1, 6, 45, 21, '25']
muestra  28  valor [29, 13, '2,5', 0, 1, 5, 25, 25, '27']
muestra  29  valor [18, 57, '4,5', 5, 4, 10, 45, 3, '25']
muestra  30  valor [18, 11, '5', 4, 0, 7, 50, 16, '23']

In [22]:
print("numeros de riegos en el dia 3 ",num3)
print("Datos ideal para dia 3",modelo1)

numeros de riegos en el dia 3  30
Datos ideal para dia 3 [19, 15, 3, 2, 7, 7, 30, 15, 9]

In [23]:
population_3 = crearPoblacion(num3)
#Se evoluciona la poblacion
for i in range(evolucion):
    population_3 = selection_and_reproduction(population_3)
    population_3 = mutation(population_3)
temp=1
for xz in population_3:
    print("muestra ",temp," valor",xz)
    temp=temp+1
#print("\nPoblacion Final:\n%s"%(population_3)) #Se muestra la poblacion evolucionada

muestra  1  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  2  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  3  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  4  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  5  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  6  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  7  valor [40, 15, 16, 2, 4, 9, 31, 26, 9]
muestra  8  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  9  valor [40, 15, 16, 2, 7, 9, 5, 26, 9]
muestra  10  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  11  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  12  valor [40, 15, 16, 2, 7, 9, 31, 26, 5]
muestra  13  valor [40, 15, 16, 2, 7, 9, 31, 8, 9]
muestra  14  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  15  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  16  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  17  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  18  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  19  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  20  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  21  valor [40, 15, 16, 6, 7, 9, 31, 26, 9]
muestra  22  valor [40, 15, 16, 2, 7, 9, 31, 26, 8]
muestra  23  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  24  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  25  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  26  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  27  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  28  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  29  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]
muestra  30  valor [40, 15, 16, 2, 7, 9, 31, 26, 9]

<H1>Dia 4</H1>

In [24]:
population= dia4[dia4['Análisis valor']==1]
key=population.keys()
temporal=[]
final=[]
final2=[]
for i in key:
    final.append(population[i].tolist())


for w in range(0,len(final[0])):
    temporal=[]
    for y in range(0,9):    
        temporal.append(final[y][w])
    final2.append(temporal)
temp=1
for xz in final2:
    print("muestra ",temp," valor",xz)
    temp=temp+1
#print("Poblacion Inicial:\n%s"%(final2)) #Se muestra la poblacion inicial

muestra  1  valor [13, 24, '3', 1, 9, 7, 30, 9, 17]
muestra  2  valor [12, 81, '5', 4, 1, 11, 50, 3, 23]
muestra  3  valor [8, 57, '3', 1, 13, 3, 30, 5, 17]
muestra  4  valor [12, 26, '4,5', 5, 12, 1, 45, 1, 25]
muestra  5  valor [33, 14, '4,1', 2, 2, 6, 41, 5, 20]
muestra  6  valor [9, 65, '3', 1, 1, 8, 30, 9, 17]
muestra  7  valor [21, 4, '2,5', 0, 7, 13, 25, 14, 27]
muestra  8  valor [9, 38, '7', 3, 12, 1, 70, 3, 15]
muestra  9  valor [26, 79, '3', 1, 2, 4, 30, 14, 17]
muestra  10  valor [38, 9, '7', 3, 9, 5, 70, 1, 15]
muestra  11  valor [20, 65, '7', 3, 13, 6, 70, 6, 15]
muestra  12  valor [34, 81, '4,1', 2, 5, 0, 41, 11, 20]
muestra  13  valor [12, 61, '2,5', 0, 9, 1, 25, 24, 27]
muestra  14  valor [22, 37, '5', 4, 7, 1, 50, 20, 23]
muestra  15  valor [34, 82, '7', 3, 9, 7, 70, 7, 15]
muestra  16  valor [17, 74, '4,1', 2, 6, 9, 41, 17, 20]
muestra  17  valor [12, 6, '2,5', 0, 6, 13, 25, 18, 27]
muestra  18  valor [2, 81, '7', 3, 7, 8, 70, 6, 15]
muestra  19  valor [12, 50, '2,5', 0, 0, 3, 25, 20, 27]
muestra  20  valor [0, 67, '4,5', 5, 6, 11, 45, 7, 25]
muestra  21  valor [18, 58, '4,1', 2, 11, 1, 41, 3, 20]
muestra  22  valor [-2, 61, '3', 1, 8, 4, 30, 9, 17]
muestra  23  valor [18, 66, '4,5', 5, 5, 0, 45, 3, 25]
muestra  24  valor [13, 88, '5', 4, 7, 7, 50, 9, 23]
muestra  25  valor [21, 62, '7', 3, 9, 3, 70, 6, 15]
muestra  26  valor [28, 30, '4,5', 5, 3, 13, 45, 20, 25]
muestra  27  valor [30, 60, '5', 4, 9, 3, 50, 22, 23]
muestra  28  valor [21, 48, '4,1', 2, 3, 6, 41, 7, 20]
muestra  29  valor [7, 33, '4,1', 2, 8, 12, 41, 19, 20]
muestra  30  valor [18, 53, '4,1', 2, 4, 4, 41, 1, 20]
muestra  31  valor [3, 65, '3', 1, 1, 13, 30, 8, 17]
muestra  32  valor [25, 79, '2,5', 0, 4, 5, 25, 15, 27]
muestra  33  valor [40, 56, '4,5', 5, 4, 3, 45, 4, 25]
muestra  34  valor [-1, 53, '2,5', 0, 11, 4, 25, 22, 27]
muestra  35  valor [5, 11, '3', 1, 7, 3, 30, 9, 17]

In [25]:
print("numeros de riegos en el dia 4 ",num4)
print("Datos ideal para dia 4",modelo1)

numeros de riegos en el dia 4  35
Datos ideal para dia 4 [19, 15, 3, 2, 7, 7, 30, 15, 9]

In [26]:
population_4 = crearPoblacion(num4)
#Se evoluciona la poblacion
for i in range(evolucion):
    population_4 = selection_and_reproduction(population_4)
    population_4 = mutation(population_4)
temp=1
for xz in population_4:
    print("muestra ",temp," valor",xz)
    temp=temp+1
#print("\nPoblacion Final:\n%s"%(population_4)) #Se muestra la poblacion evolucionada

muestra  1  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  2  valor [24, 15, 3, 2, 7, 6, 30, 34, 35]
muestra  3  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  4  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  5  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  6  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  7  valor [24, 15, 3, 2, 7, 7, 30, 2, 35]
muestra  8  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  9  valor [24, 15, 3, 2, 7, 4, 30, 34, 35]
muestra  10  valor [24, 15, 3, 2, 8, 7, 30, 34, 35]
muestra  11  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  12  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  13  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  14  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  15  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  16  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  17  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  18  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  19  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  20  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  21  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  22  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  23  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  24  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  25  valor [24, 15, 3, 2, 7, 7, 30, 7, 35]
muestra  26  valor [24, 15, 9, 2, 7, 7, 30, 34, 35]
muestra  27  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  28  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  29  valor [24, 9, 3, 2, 7, 7, 30, 34, 35]
muestra  30  valor [24, 15, 3, 7, 7, 7, 30, 34, 35]
muestra  31  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  32  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  33  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  34  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]
muestra  35  valor [24, 15, 3, 2, 7, 7, 30, 34, 35]

<H1>Dia 1 y 2</H1>

In [27]:
#Se evoluciona la poblacion
for i in range(evolucion):
    population_1y2 = selection_and_reproduction(population_1,population_2)
    population_1y2 = mutation(population_1y2)

temp=1
for xz in population_1y2:
    print("muestra ",temp," valor",xz)
    temp=temp+1  
#print("\nPoblacion Final:\n%s"%(population_1y2)) #Se muestra la poblacion evolucionada

muestra  1  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  2  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  3  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  4  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  5  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  6  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  7  valor [19, 12, 3, 2, 7, 7, 40, 3, 9]
muestra  8  valor [19, 12, 3, 7, 7, 7, 40, 29, 9]
muestra  9  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  10  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  11  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  12  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  13  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  14  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  15  valor [19, 12, 3, 2, 7, 7, 40, 29, 5]
muestra  16  valor [19, 9, 3, 2, 7, 7, 40, 29, 9]
muestra  17  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  18  valor [19, 12, 3, 2, 1, 7, 40, 29, 9]
muestra  19  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  20  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  21  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  22  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  23  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  24  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  25  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  26  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  27  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  28  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  29  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  30  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  31  valor [19, 12, 3, 2, 7, 7, 40, 8, 9]
muestra  32  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  33  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  34  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]

<H1>Dia 3 y 4</H1>

In [28]:
#Se evoluciona la poblacion
for i in range(evolucion):
    population_3y4 = selection_and_reproduction(population_3,population_4)
    population_3y4 = mutation(population_3y4)
temp=1
for xz in population_3y4:
    print("muestra ",temp," valor",xz)
    temp=temp+1
#print("\nPoblacion Final:\n%s"%(population_3y4)) #Se muestra la poblacion evolucionada

muestra  1  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  2  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  3  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  4  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  5  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  6  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  7  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  8  valor [40, 15, 16, 2, 7, 5, 31, 26, 9]
muestra  9  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  10  valor [40, 15, 16, 8, 7, 7, 31, 26, 9]
muestra  11  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  12  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  13  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  14  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  15  valor [40, 1, 16, 2, 7, 7, 31, 26, 9]
muestra  16  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  17  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  18  valor [40, 15, 16, 2, 2, 7, 31, 26, 9]
muestra  19  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  20  valor [40, 15, 16, 2, 7, 7, 31, 26, 1]
muestra  21  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  22  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  23  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  24  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  25  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  26  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  27  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  28  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  29  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]
muestra  30  valor [40, 15, 16, 2, 7, 7, 31, 26, 9]

<H1>Dia (1y2)y(3 y 4)</H1>

In [29]:
#Se evoluciona la poblacion
for i in range(evolucion):
    population_1y2_3y4 = selection_and_reproduction(population_1y2,population_1y2)
    population_1y2_3y4 = mutation(population_1y2_3y4)
temp=1
for xz in population_1y2_3y4:
    print("muestra ",temp," valor",xz)
    temp=temp+1
#print("\nPoblacion Final:\n%s"%(population_1y2_3y4)) #Se muestra la poblacion evolucionada

muestra  1  valor [19, 12, 3, 2, 8, 7, 40, 29, 9]
muestra  2  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  3  valor [19, 12, 3, 2, 7, 7, 40, 2, 9]
muestra  4  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  5  valor [19, 12, 3, 4, 7, 7, 40, 29, 9]
muestra  6  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  7  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  8  valor [19, 12, 3, 2, 7, 7, 5, 29, 9]
muestra  9  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  10  valor [19, 8, 3, 2, 7, 7, 40, 29, 9]
muestra  11  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  12  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  13  valor [19, 12, 3, 2, 6, 7, 40, 29, 9]
muestra  14  valor [19, 12, 5, 2, 7, 7, 40, 29, 9]
muestra  15  valor [19, 12, 3, 2, 7, 3, 40, 29, 9]
muestra  16  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  17  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  18  valor [19, 12, 3, 2, 7, 4, 40, 29, 9]
muestra  19  valor [19, 12, 3, 2, 7, 7, 40, 29, 7]
muestra  20  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  21  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  22  valor [19, 12, 3, 2, 7, 2, 40, 29, 9]
muestra  23  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  24  valor [19, 12, 7, 2, 7, 7, 40, 29, 9]
muestra  25  valor [4, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  26  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  27  valor [19, 12, 3, 2, 2, 7, 40, 29, 9]
muestra  28  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  29  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  30  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  31  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  32  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  33  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]
muestra  34  valor [19, 12, 3, 2, 7, 7, 40, 29, 9]

In [30]:
suma = [0,0,0,0,0,0,0,0,0]
num=len(population_1y2_3y4)
for xcv in population_1y2_3y4:
    for asd in range(0,9):
        suma[asd]=suma[asd]+xcv[asd]
for asd in range(0,9):
    suma[asd]=suma[asd]/num

In [31]:
print(suma)

[18.558823529411764, 11.882352941176471, 3.176470588235294, 2.0588235294117645, 6.852941176470588, 6.647058823529412, 38.970588235294116, 28.205882352941178, 8.941176470588236]

In [32]:
key
print("El valor ideal es")
print("----------------")
for qwe in range (0,8):
    print(key[qwe]," <==>",suma[qwe])

El valor ideal es
----------------
T° Ambiental (°C) BRUTO  <==> 18.558823529411764
Velocidad del viento (KM/H)  <==> 11.882352941176471
Valor de tipo de suelo  <==> 3.176470588235294
Tipo de Suelo  <==> 2.0588235294117645
PH Agua  <==> 6.852941176470588
PH Suelo  <==> 6.647058823529412
Humedad Suelo Deseada (%)  <==> 38.970588235294116
T° Suelo (°C)  <==> 28.205882352941178